<div class="jumbotron">
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="https://www.w3schools.com/bootstrap/paris.jpg" alt="Paris"/>
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="https://www.w3schools.com/bootstrap/paris.jpg" alt="Paris"/>
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="https://www.w3schools.com/bootstrap/paris.jpg" alt="Paris"/>
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="https://www.w3schools.com/bootstrap/paris.jpg" alt="Paris"/>
            </a>
        </div>
    </div>
</div>